*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1{
    margin-top: 20px;
    text-align: center;
}

h2{
    margin-bottom: 20px;
    text-align: center;
}

.container{
    display: flex;
    background-color: rgb(132, 153, 129);
    /* background-color: lightblue; */
    width: 100wh;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.image img{
    width: 500px;
    height: 500px;
    margin: 30px;
}

.content h1{
    color: black;
    margin-bottom: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.content p{
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    color: black;
    text-align: center;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
}